html {
  font-size: 18px;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: hsl(185, 75%, 39%);

  background-image: url(bg-pattern-top.svg), url(bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: left 5em bottom 10em, right 10em;
}
.card-container {
  margin: 150px auto;
  max-width: 500px;

  border: 1px solid white;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;

  overflow: hidden;
}

.card-header {
  text-align: center;
  width: 100%;
}

.bg-pattern img {
  width: 100%;
}

.card-image {
  margin: -10% auto;
  padding-bottom: 2em;
}

.image {
  width: 7rem;
  border-radius: 50%;
  border: 3px solid white;
}

.name span {
  font-weight: 700;
  text-align: center;
}

.city {
  margin-top: -0.5rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.num {
  text-align: center;
  font-weight: 700;
  padding: 0 1em;
}
.follow {
  text-align: center;
  margin-top: -0.5em;
  padding: 0 1em;
}

@media (max-width: 500px) {
  .card-container {
    margin: 100px auto;
    max-width: 400px;

    border: 1px solid white;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;

    overflow: hidden;
  }
}
